/* 
    EERIE BLACK :  #23231a
    CAMBRIDGE BLUE : #7fc6a4
    ATOMIC TANGERINE : #ff9b71
    CORNELL RED : #bf211e
    AUBURN : #ad2831
*/

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: whitesmoke;
    font-family: Verdana;
}

.header_navbar_heading {
    font-size: 1.5rem;
    color: #23231a;
}

.header_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bf211e;
    padding: 10px 20px;
}

.header_navlist {
    display: flex;
    list-style: none;
}

.header_navlist li {
  margin-right: 20px;
}

.header_navlist li:last-child{
    margin-right: 0;
}

.header_navlist li a{
    font-size: 1.125rem;
    text-decoration: none;
    color: #23231a;
}

.header_navlist li a:hover{
    color: whitesmoke;
    background-color: #ad2831;
    padding: 9px;
    border-radius: 9px;
    text-decoration: underline whitesmoke 2px;
}

.hero{
    margin: 3rem 9rem;
    margin-top: 8rem;
}

.hero_heading{
    margin-bottom: 2rem;
    font-size: 3rem;
    color:#23231a;
    max-width: 50%;
}

.hero_para{
    margin-bottom: 1rem;
    font-size: 1.3rem;
    max-width: 50%;
}

.hero_image{
    /* float: right; */
    height: 350px;
    width: 600px;
}

.hero.button{
    margin-top: 1rem;
    border-radius: 20px;
    padding: 1.5rem;
    background-color: #ad2831;
    color: whitesmoke;
}